@page "/products"
@using ECommerce.Model
@inject HttpClient Client
<h3>ProductList</h3>

<div class="row">
    @foreach (var product in Products)
    {
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: @product.Price</p>
                    <p class="card-text">Quantity: @product.Quantity</p>
                    <a href="/cart/@product.Id" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    private List<ProductModel>? Products = new();

    protected override async Task OnInitializedAsync()
    {
        Products = await Client.GetFromJsonAsync<List<ProductModel>>("http://localhost:5032/api/Product");
    }
}
